h1 {
  font-family: Impact, "Arial Black", sans-serif;
  font-weight: 700;
  font-size: 80px;
}

p {
  font-family: "Times New Roman", sans-serif;
  font-weight: 400;
  font-size: 35px;
}

button.btn:hover {
  background-color: #008000;
  border: none;
}

body {
  background: linear-gradient(white, rgba(64, 158, 195, 0.7), white);
}
